<div class="container mt-4">
  <h4>Registre sus datos a continuacion</h4>
  <hr />
  <form autocomplete="off" [formGroup]="formPerson">
    <div class="form-group row">
      <label class="col-2 col-form-label m-2">Nombre</label>
      <div class="col-8 m-2">
        <input
          class="form-control"
          type="text"
          name="name"
          placeholder="Nombre"
          required
          minlength="5"
          formControlName="name"
          [class.is-invalid]="invalidName"
        />
        <small *ngIf="invalidName" class="text-danger"
          >Ingrese al menos 3 letras para el nombre</small
        >
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label m-2">Apellido</label>
      <div class="col-8 m-2">
        <input
          class="form-control"
          type="text"
          placeholder="Apellido"
          required
          minlength="5"
          formControlName="surname"
          [class.is-invalid]="invalidSurname"
        />
        <small *ngIf="invalidSurname" class="text-danger"
          >Ingrese al menos 3 letras para el apellido</small
        >
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label m-2">Edad</label>
      <div class="col-8 m-2">
        <select
          class="form-select"
          aria-label="Default select example"
          formControlName="age"
          name="age"
          [class.is-invalid]="invalidAge"
        >
          <option selected>10 - 18</option>
          <option value="1">18 - 30</option>
          <option value="2">30 - 45</option>
          <option value="3">+45</option>
        </select>
        <small *ngIf="invalidAge" class="text-danger">Escoja su edad</small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label m-2">Sexo</label>
      <div class="col-8 m-2">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            formControlName="sex"
            value="male"
            name="sex"
            id="flexRadioDefault1"
            [class.is-invalid]="invalidSex"
            (change)="getPregnant()"
          />
          <small *ngIf="invalidSex" class="text-danger"
            >Debe especificar su sexo</small
          >
          <label class="form-check-label" for="flexRadioDefault1">
            Masculino
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            formControlName="sex"
            value="female"
            name="sex"
            id="flexRadioDefault2"
            (change)="getPregnant()"
            
          />
          <label class="form-check-label" for="flexRadioDefault2">
            Femenino
          </label>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label m-2">Escoja una opcion</label>
      <div class="col-8 m-2">
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            formControlName="pregnant"
            type="checkbox"
            role="switch"
            id="flexSwitchCheckDefault"
          />
          <label class="form-check-label" for="flexSwitchCheckDefault"
            >Embarazo o Lactancia?</label
          >
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label m-2">Telefono</label>
      <div class="col-8 m-2">
        <input
          class="form-control"
          type="text"
          placeholder="Telefono"
          required
          minlength="5"
          formControlName="phone"
        />
        <!-- <small *ngIf="invalidPhone" class="text-danger">Ingrese un numero telefonico valido</small> -->
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label m-2">&nbsp;</label>
      <div class="input-group col-md-8 mx-auto">
        <button (click)="saveData()" class="btn btn-outline-primary btn-block">
          Guardar
        </button>
      </div>
    </div>
  </form>
</div>
