<h4>Formularios <small> tipo </small></h4>
<hr />
<form autocomplete="off" [formGroup]="formPerson">
    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">
        <input
          class="form-control"
          type="text"
          name="name"
          placeholder="Nombre"
          required
          minlength="5"
          formControlName="name"
          [class.is-invalid]="invalidName"
        />
        <small *ngIf="invalidName" class="text-danger">Ingrese al menos 3 letras para el nombre</small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">
        <input
          class="form-control"
          type="text"
          placeholder="Apellido"
          required
          minlength="5"
          formControlName="surname"
          [class.is-invalid]="invalidSurname"
        />
        <small *ngIf="invalidSurname" class="text-danger">Ingrese al menos 3 letras para el apellido</small>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-8">
        <select class="form-select" aria-label="Default select example" formControlName="age" name="age" [class.is-invalid]="invalidAge">
          <option selected>Edad</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <small *ngIf="invalidAge" class="text-danger">Escoja su edad</small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Sexo</label>
      <div class="col-8">
        <div class="form-check">
          <input class="form-check-input" type="radio" formControlName="sex" value="male" name="sex" id="flexRadioDefault1" [class.is-invalid]="invalidSex">
          <small *ngIf="invalidSex" class="text-danger">Debe especificar su sexo</small>
          <label class="form-check-label" for="flexRadioDefault1">
            Masculino
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" formControlName="sex" value="female" name="sex" id="flexRadioDefault2">
          <label class="form-check-label" for="flexRadioDefault2">
            Femenino
          </label>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-8">
        <div class="form-check form-switch">
          <input class="form-check-input" formControlName="pregnant" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault">Embarazo o Lactancia?</label>
        </div>
      </div>
      <small></small>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Telefono</label>
      <div class="col-8">
        <input
          class="form-control"
          type="text"
          placeholder="Telefono"
          required
          minlength="5"
          formControlName="phone"
          [class.is-invalid]="invalidPhone"
        />
        <small *ngIf="invalidPhone" class="text-danger">Ingrese un numero telefonico valido</small>
      </div>
    </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button (click)="savePerson()" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>
</form>

<!-- <div class="card" style="width: 32rem">
  <h5 class="card-title">Registrate con nosotros</h5>
  <div class="card-body">
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Nombre</label>
          <input
            type="email"
            class="form-control"
            id="inputEmail4"
            placeholder="Enter your fullname"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="inputEmail4">Apellido</label>
          <input
            type="email"
            class="form-control"
            id="inputEmail4"
            placeholder="Enter your fullname"
          />
        </div>
        <div class="form-group col-md-6">
          <select class="form-select" aria-label="Default select example">
            <option selected>Seleccion su edad</option>
            <option value="1">18</option>
            <option value="2">19</option>
            <option value="3">20</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
              id="flexRadioDefault1"
            />
            <label class="form-check-label" for="flexRadioDefault1">
              Masculino
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
              id="flexRadioDefault2"
              checked
            />
            <label class="form-check-label" for="flexRadioDefault2">
              Femenino
            </label>
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="form-check form-switch">
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="flexSwitchCheckDefault"
            />
            <label class="form-check-label" for="flexSwitchCheckDefault"
              >Embarazo o Lactancia?</label
            >
          </div>
        </div>
        <div class="form-group col-md-12">
          <label for="inputEmail4">Numero de telefono</label>
          <input
            type="email"
            class="form-control"
            id="inputEmail4"
            placeholder="Enter subject"
          />
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Send Message</button>
    </form>
  </div>
</div> -->
